/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
	text-align: center;
    position: sticky;
    top: 0; /* Fija el encabezado en la parte superior al hacer scroll */
    z-index: 1000; /* Asegura que quede encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* Estilo para el título del menú */
header h1 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}
/* Contenedor de los botones de navegación */
nav {
    margin-top: 15px;
}

/* Estilo para los botones de navegación */
nav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav button:hover {
    background-color: #777;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
}
nav button:focus {
    outline: none;
    box-shadow: 0 0 5px #fff; /* Resalta el botón enfocado */
}

main {
    padding: 20px;
}

.category {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.category.active {
    opacity: 1;
    display: block;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px auto;
    padding: 15px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
	flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para las imágenes */
/* Estilo para imágenes */
.item-image {
    width: 290px; /* Aumenta el tamaño para mayor prominencia */
    height: 160px;
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilos para el nombre del artículo */
.item-name {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: center; /* Centra el texto */
}

/* Estilos para el precio del artículo */
.item-price {
	font-weight: bold;
    font-size: 20px;
    color: #444;
    font-style: italic;
    text-align: center; /* Centra el texto */
}

/* Responsividad */
@media (max-width: 768px) {
     header {
        padding: 15px;
    }

    header h1 {
        font-size: 22px;
    }

    nav button {
        padding: 8px 15px;
        font-size: 12px;
    }
	
	li {
        flex-direction: column;
        text-align: center;
    }

    .item-image {
        margin-bottom: 10px;
    }
}
